
<div class="card-c">
<div class="presentation">
    <img src="assets/vale.PNG" class="photo">
    <div class="txt">
        <h1>Jorge Oliva Gonzalez</h1>
        <p>Link es descrito generalmente como un joven Hyliano que reside en el Reino de Hyrule. 
        En sus inicios, aparecía como un simple espadachín, pero con el paso del tiempo y el lanzamiento de nuevos juegos, su edad
        (en un rango que oscila entre los siete y los dieciocho años), apariencia e identidad han sido cambiadas.</p>

    </div>
</div>
<div>
<i class="pi-linkedin"></i>
</div>
</div>
